<section class="passwordChange-form" fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
  <mat-card fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
      <form (submit)="onResetPassword(passwordResetForm)" #passwordResetForm="ngForm" fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
          <mat-form-field>
            <input matInput placeholder="Enter New password" [type]="hide1 ? 'password' : 'text'" name="newPassword" ngModel  #newPasswordInput="ngModel" required>
            <a mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="newPasswordInput.invalid">Please enter valid Password.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Enter New password Again" [type]="hide2 ? 'password' : 'text'" name="newRetypedPassword" ngModel  #newRetypedPassword="ngModel" required>
            <a mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="newRetypedPassword.invalid">Please enter valid Password.</mat-error>
          </mat-form-field>
          <mat-error>{{formError}}</mat-error>
          <button mat-raised-button color="primary" type="submit">Change Password</button>
        </form>
  </mat-card>
</section>
