<section fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='center center'>
  <form #passwordResetForm="ngForm"></form>
  <h6 mat-dialog-title>Please Enter your Email ID :</h6>
  <mat-form-field>
    <input matInput type="email" name="email" [(ngModel)]='passedData.email' placeholder="E-mail Address" #emailInput="ngModel" email>
    <mat-error *ngIf="emailInput.invalid">Please enter a valid Email.</mat-error>
  </mat-form-field>
  <div fxLayout='row'>
    <button mat-button [mat-dialog-close]='passedData.email' [disabled]='emailInput.invalid'>Reset Password</button>
    <button mat-button [mat-dialog-close]='false'>Cancel</button>
  </div>
</section>
